
.remoteUser {
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
    /* padding-left: 15%;
    padding-right: 15%; */
    font-size: 13dp;
}

.tasbhiimage {
    width: 19dp;
    height: 19dp;
}

.total-count {
    margin-top: 20%;
    padding-top: 20%;
}

.totalCountText {
    font-size: 40dp;
    padding-top: 5%;
}

.header-count {
    /* color: #eeeeee; */
    font-size: 16dp;
}

.button-durood {
    width: 30%;
    height: 40%;
    border-radius: 100%;
    background-color: yellow;
}

.tabs {
    border-radius: 21.7%;
    width: 40%;
    height: 7%;
}

.tab-color {
    // background-color: white;
    background: linear-gradient(45deg, #F9D423, #e57b34);
}

.min-margin {
    margin-bottom: 30%;
}
/* listview */
.listview {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    // margin-top: 5%;
    padding-top: 5%;
}

.list-item-padding {
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom-color: rgb(59, 59, 59);
    border-bottom-width: 0.1%;
}

.header-list {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 12%;
}
.srNo {
    font-size: 18dp;
    padding-right: 5%;
}

.duroodCout {
    font-size: 18dp;
}

.font-size-13 {
    font-size: 16dp;
}

.date {
    font-size: 12dp;
    text-align: center;
    padding-right: 10%;
}

.time{
    text-align: right;
    font-size: 12dp;
    padding-right: 10%;
}

.submitDurood {
    width: 13.5%;
    height: 8.5%;
    background: linear-gradient(45deg, #e57b34, #F9D423);
    border-radius: 100%;
    margin: 0% 5% 5% 0%;
}


.gradient {
    background: linear-gradient(45deg, #e57b34, #F9D423);
}


.f-23 {
    font-size: 30dp;
}

.color-white {
    color: white;
}
 
.muted-color {
    color: #3d3d3d;
}

.notification {
    background: linear-gradient(to right, #5c258d, #4389a2);
    padding:5% 12% 5% 12%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    margin-top: 10%;
    transform: translateX(200);
}

// tap animation for sacling

@keyframes icon-animation {
    0% {  
            transform: scale(1);
        }
    
    50% {
            transform: scale(1.15);
        } 

    100% {
            transform: scale(1);
        }
}

.icon-animation {
    animation-name: icon-animation;
    animation-duration: 0.1s;
    animation-timing-function:linear;
}


// notification animation 

@keyframes notification-animation {
    0% {  
        transform: translateX(200);
    }
    
    100% {  
        transform: translateX(0);   
    }
}

.notication-animation {
    animation-name: notification-animation;
    animation-timing-function:linear;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


// notification animation close 

@keyframes notification-animation-close {
    0% {  
        transform: translateX(0);
    }
    
    100% {  
        transform: translateX(200);   
    }
}

.notication-animation-close {
    animation-name: notification-animation-close;
    animation-timing-function:linear;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


