<GridLayout class="page" (loaded)="onLoaded()">
    <GridLayout height="35%" class="gradient" verticalAlignment="top">
        <GridLayout height="50%" verticalAlignment="top" class="total-count" horizontalAlignment="center" width="80%">
            <StackLayout>
                <Label text="Total Counts" horizontalAlignment="center" class="sec-font header-count" textWrap="true"></Label>
                <Label  [text]='fildata' horizontalAlignment="center" class="sec-font totalCountText" textWrap="true"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout rows="auto" columns="auto" class="notification" [visibility]="loaded == true ? 'visible' : 'collapsed'" [ngClass]="{'notication-animation' : loaded == true , 'notication-animation-close' : loaded == false}" verticalAlignment="top" horizontalAlignment="right">
            <Label text="pending" class="color-white font-size-10" textWrap="true"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout height="65%" verticalAlignment="bottom">
        <GridLayout rows="auto,*" tkExampleTitle tkToggleNavButton>
            <GridLayout backgroundColor="#eeeeee"  (tap)="working()" class="header-list main-font">
                <Label text="Status of GoshaE darood Application" class="muted-color font-size-13"></Label>
            </GridLayout>

            <!-- (itemLoading)="onItemLoading($event)" -->
            <RadListView row="1" #myRadListView [items]="partyList" class="listview page">
                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout columns="auto,auto,*" class="list-item-padding main-font">
                        <Label [text]= "item?.duroodCount" col="1" class="duroodCout" horizontalAlignment="left" verticalAlignment="middle" textWrap="true"></Label>
                        <StackLayout col="2" horizontalAlignment="right" verticalAlignment="middle">
                            <Label [text]="item?.updated_at" class="date" textWrap="true"></Label>
                            <!-- <Label [text]="time | date:'shortTime'"  class="time" textWrap="true"></Label> -->
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
        </GridLayout>
    </GridLayout>
    <!-- <GridLayout class="tabs min-margin tab-color">
        <Label text="Remote User" class="remoteUser" horizontalAlignment="center" verticalAlignment="middle" textWrap="true"></Label>
    </GridLayout> -->

    <GridLayout class="submitDurood" (tap)="addnewCount($event)" [ngClass]="{'icon-animation' : isTapped }" verticalAlignment="bottom"
        horizontalAlignment="right">
        <Label text="&#xe145;" class="md-icon f-23 text-center color-white "  verticalAlignment="middle" horizontalAlignment="center" textWrap="true"></Label>
    </GridLayout>
</GridLayout>
