<RadDataForm tkExampleTitle tkToggleNavButton [source]="user">
    <TKEntityProperty tkDataFormProperty name="name" displayName= "name">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="fatherName" displayName="Father's name">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="postalAddress" displayName="Your Postal Address">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="union_council" displayName="Your Union Council">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="Tehsil" displayName="Tehsil ">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="city" displayName="City">
            <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
        </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="district" displayName="District ">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="country" displayName="Country">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty> 
    <TKEntityProperty tkDataFormProperty name="education" displayName="Select Your education Level" [valuesProvider]="options_edu">
        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="profession" displayName="Profession ">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="dateOfBirth" displayName="select your Date of Birth ">
        <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="nic" displayName="Enter your National Identity Card Number ">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="email" displayName="Enter your E-mail  ID ">
        <TKPropertyEditor tkEntityPropertyEditor type="Email"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="password" displayName="Chose your password">
            <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
        </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="phoneCell" displayName="Cell Number">
        <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="phoneRes" displayName="phone Home">
        <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="phoneOff" displayName="Phone Office">
        <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="holyQuran" displayName="Can you Read The Holy Quran ">
        <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="member" displayName="Are you Member of MQI ">
        <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="ashra" displayName="Select Your Desired Ashra" [valuesProvider]="options_ashra">
        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
    </TKEntityProperty>  -->
</RadDataForm> 
