

.padding-hor-list {
    padding-left: 20%;
    padding-right: 20%;
}
.margin-horizontal-list {
    background: linear-gradient(to right, #5c258d, #4389a2);
    border-radius: 5%;
    height: 55%;
    margin-right:10dp;
}
.hor-list-hight {
    height: 10%;
}
.label-hor-list {
    padding: 0% 20% 0% 20%;
    
    color: white;
    font-size: 14dp;
}
.z-index1 {
    z-index: 1;
}

.ratedText {
    font-size: 16dp;
    margin: 3% 0 0 3%;
}


/* listview */
.listview {
    padding-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.list-item-padding {
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom-color: rgb(59, 59, 59);
    border-bottom-width: 0.1%;
}

.srNo {
    font-size: 18dp;
    padding-right: 5%;
}


