


.label-horizontal {
    background: linear-gradient(to right, #5c258d, #4389a2);
    border-radius: 5%;
    margin-right:10dp;
    // padding-left: 15%;
    // padding-right: 15%;
    // padding-top: 5%;
    // padding-bottom: 5%;
    color: white;
    font-size: 14dp;
}

.heading-filter {
    padding: 3% 0% 3% 10%;
    font-size: 18;   
}

.heading-filter-list {
    padding: 0% 0% 3% 10%;
    font-size: 18;   
}

.alignScroll {
    padding: 10% 0% 10% 10%;
}

.z-index1 {
    z-index: 1;
}

.ratedText {
    font-size: 16dp;
    margin: 3% 0 0 3%;
}


/* listview */
.listview-align {
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.list-item-padding {
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom-color: rgb(59, 59, 59);
    border-bottom-width: 0.1%;
}

.srNo {
    font-size: 18dp;
    padding-right: 5%;
}


