.bt{
    border-radius: 150%;
    border-color: black;
    border-width: 1%;
    height: 300dp;
    width: 300dp;
}

.count{
    font-size: 30;
    text-align: center;
}

.font23 {
 font-size: 23dp;   
}

.buttonAdd {
    background-color: rgba(53, 70, 140, 0.801);
    color: white;
}