<GridLayout rows="*,auto,auto,auto">
	<StackLayout row="0" backgroundColor="blue">
	</StackLayout>
	<StackLayout row="1" margin="2%">
		<TextField hint="Enter Your Email " class="input input-rounded m-t-10"> </TextField>
	</StackLayout>
	<StackLayout row="2" margin="2%">
		<TextField hint="Enter Your Password " class="input input-rounded m-t-10"> </TextField>
	</StackLayout>
	<StackLayout row="3" margin="10%">
        <Button class="btn btn-primary btn-rounded-lg" text="Login"></Button>
        <Label textAlignment="center" text="create an Account"></Label>
	</StackLayout>
</GridLayout>