
/* side drawer */
.drawerContentText {
    font-size: 13;
    padding: 10;
}
.sideStackLayout {
    background-color: gray;
}

.sideLabel {
    padding: 10%;
}

.logout {
    background-color: #eeeeee;
}

.sideLightGrayLabel {
    background-color: lightgray;
}

.logout-align {

}

.text-middle-align {
    margin-bottom: 15%;
}

.drawer-item {
    padding-top:10%;
    padding-bottom: 10%;
    padding-left: 18%;
}

.m-t-9 {
    padding-top: 9%;
}

/* icon size */

.f-s-25 {
font-size: 25dp;
}

.f-s-22 {
    font-size: 22dp;
}

.color-menu {
    color: black;
}

/* android icon actionbar */
.padding-icon {
    padding: 5%;
}

.titleAndroid {
    font-size: 18dp;
    font-weight: 400;
}
.margin{
    margin-top : 3%;
    margin-bottom: 3%;
    font-size: 14;
    margin-left: 4%;
}
.border{
    
    border-bottom-width: 1dp;
    border-bottom-color: #a19c9c;
    padding-bottom: 14dp;
    padding-top: 14dp;
    padding-left: 18dp;
    font-size: 14;
   
}

.icon-size {
    font-size: 23dp;
}
.margintext{
    margin-top: 5%;
    margin-left:3%
}
.bg{
    background-size: 100%;
    background-repeat: no-repeat;
    }
.rad{
        border-radius: 100;
        height: 100;
        width: 100;
    }