 <ActionBar *ngIf="isIos" [title]="title">
  <ActionItem android:position="actionBar">
    <Label horizontalAlignment="left" class="text-left md-icon f-s-25 color-menu" (tap)="openDrawer()" text="&#xe5d2;"></Label>
  </ActionItem>
  <ActionItem (tap)="reset()"  [visibility]="isAddCounts ? 'visible' : 'collapsed'" [ngClass]="{'icon-animation' : isAddCounts }" ios.position="right">
    <Button text="&#xe8ba;" class="action-item md-icon f-s-25 font"></Button>
  </ActionItem>
  <ActionItem (tap)="submit()" [visibility]="isAddCounts ? 'visible' : 'collapsed'" [ngClass]="{'icon-animation' : isAddCounts }" ios.position="right">
    <Button text="Submit" class="action-item"></Button>
  </ActionItem>
  <NavigationButton visibility="collapsed" icon="res://ic_arrow_back_black_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ActionBar *ngIf="isAndroid">
  <GridLayout>
    <StackLayout horizontalAlignment="left">
      <Label class="md-icon f-s-25 padding-icon color-menu" (tap)="openDrawer()" text="&#xe5d2;"></Label>
    </StackLayout>
    <Label [text]="title" verticalAlignment="middle" horizontalAlignment="center" class="text-center titleAndroid h4" textWrap="true"></Label>
  </GridLayout>
</ActionBar> 

<GridLayout>
  <RadSideDrawer tkExampleTitle tkToggleNavButton drawerTransition="SlideAlongTransition">
    <GridLayout tkDrawerContent>
      <GridLayout padding="10%" rows="*,auto" verticalAlignment="top" height="30%"backgroundImage="res://dbb" class="bg">
        <Image class="margin rad " row="0" horizontalAlignment="left" src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png"></Image>
        <StackLayout row="1">
          <Label fontSize="13" class="margin" [text]="isAddCounts"> </Label>
          <Label class="margin" fontSize="10" text="tahirawais113@yahoo.com"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout paddingtop="5%" paddingbottom="5%" rows="auto,auto,auto,auto,auto" verticalAlignment="bottom" height="70%" backgroundColor="#e1efe7">
        <GridLayout row="0" columns="auto,*" class=" border">
          <Label text=" &#xe871;" color="#006600" class="icon-size md-icon"></Label>
          <Label class="margintext" text="Dashboard" col="1" (tap)="routeTo('/dashboard','Dashboard')"></Label>
        </GridLayout>
        <GridLayout row="1" columns="auto,*" class=" border">
          <Label text=" &#xe6c4;" color="#006600" class="icon-size md-icon"></Label>
          <Label class="margintext" text="Statistics" col="1" (tap)="routeTo('/dashboard/statistics','Statistics')"></Label>
        </GridLayout>
        <GridLayout row="2" columns="auto,*" class=" border">
          <Label text=" &#xe913;" color="#006600" class="icon-size md-icon"></Label>
          <Label class="margintext" text="Apply for Gosha E darood" col="1" (tap)="routeTo('/dashboard/about-gosha','Goasha E Nasheen')"></Label>
        </GridLayout>
        <GridLayout row="3" columns="auto,*" class=" border">
          <Label text=" &#xe856;" color="#006600" class="icon-size md-icon"></Label>
          <Label class="margintext" text="Counter" col="1" (tap)="routeTo('/dashboard/counterdarood','Counterdarood')"></Label>
        </GridLayout>
        <GridLayout row="4" columns="auto,*" class=" border">
          <Label text=" &#xe860;" color="#006600" class="icon-size md-icon"></Label>
          <Label class="margintext" text="Logout" col="1" (tap)="logout()"></Label>
        </GridLayout>
        
      </GridLayout>
    </GridLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
  </RadSideDrawer>
</GridLayout>