<ActionBar title="Dashboard">
  <ActionItem android:position="actionBar"  backgroundColor="blue">
    <Label horizontalAlignment="left" class="text-left md-icon f-s-25" (tap)="openDrawer()" text="&#xe5d2;" color="#8C489F"></Label>
  </ActionItem>
  <NavigationButton visibility="collapsed" icon="res://ic_arrow_back_black_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout>
  <RadSideDrawer tkExampleTitle tkToggleNavButton drawerTransition="SlideAlongTransition">
    <GridLayout rows="auto" tkDrawerContent class="sideStackLayout">
      <StackLayout row="0" class="sideStackLayout">
        <Label text="Dashboard" class="sideLabel sideLightGrayLabel" (tap)="routeTo('/dashboard')"></Label>
        <Label text="Account" class="sideLabel" (tap)="routeTo('/dashboard/account')"></Label>
        <Label text="Statistics" class="sideLabel" (tap)="routeTo('/dashboard/statistics')"></Label>
        <Label text="Apply for Goasha e Nasheen" class="sideLabel" (tap)="routeTo('/dashboard/applyGoashaENasheen')"></Label>
        <Label text="logout" class="sideLabel logout text-center vertical-middle" (tap)="routeTo('/logout')" ></Label>
      </StackLayout>
    </GridLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
  </RadSideDrawer>
</GridLayout>
