.margin{
    margin-top: 10dp;
    margin-left: 17dp;
    margin-right: 17dp;
    
}

.mtop{
    margin-top: 2dp;
    margin-right: 17dp;
    margin-left: 17dp;
    color:gray;
}
.color{
    color: gray;
}