<GridLayout class="page"  backgroundImage="res://bg" background-size=cover  >
  <GridLayout rows="*,*" columns="*" class="page-margin" >
     <GridLayout height="90%">
      <Label text="Label 1"  class="circle circle-text animate-one"
        textWrap="true"></Label>
      <Label text="label 2"  class="circle circle-text animate-three" textWrap="true"></Label>
      <Label text="label 3"  class="circle circle-text animate-four" textWrap="true"></Label>
      <Label text="Label 4"  class="circle circle-text animate-two" textWrap="true"></Label>
    </GridLayout> 

    <GridLayout  row="1" columns="*,*" height="10%" verticalAlignment="bottom">
      <StackLayout>
        <Button text="Sign In" (tap)="navigateTo('/login')" class="btn  btn-primary btn-rounded-lg uppercase b-r-10  width-90 height-70 signin"></Button>
      </StackLayout>
      <StackLayout col="1">
        <Button text="Sign Up" (tap)="navigateTo('/signup')" class="btn btn-outline  btn-rounded-lg uppercase b-r-10  width-90 height-70 signup"></Button>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</GridLayout>