<GridLayout rows="*" columns="*" class="page page-margin">
  <GridLayout columns="*,*,*" height="10%" verticalAlignment="bottom">
    <StackLayout>
      <Button text="Sign In" (tap)="navigateTo('/login')" class="btn  btn-primary btn-rounded-lg uppercase b-r-10  width-90 height-70 signin"></Button>
    </StackLayout>
    <StackLayout col="1">
      <Button text="Sign Up" (tap)="navigateTo('/signup')" class="btn btn-outline  btn-rounded-lg uppercase b-r-10  width-90 height-70 signup"></Button>
    </StackLayout>
    <StackLayout col="2">
        <Button text="Gosha E nashen  Sign Up" (tap)="navigateTo('/Apply-for-GoshaENasheen')" class="btn btn-outline  btn-rounded-lg uppercase b-r-10  width-90 height-70 signup"></Button>
      </StackLayout>
  </GridLayout>
</GridLayout>