.page-margin {
    margin-left: 7%;
    margin-right : 7%;
    margin-bottom: 3.5%;
}

/* buttons  */
.uppercase {
    text-transform: uppercase;
}
.b-r-10 {
    border-radius: 23%;
}

.width-90 {
    width: 90%;
}
.height-70 {
    height: 70%;
}


/* circle */
.circle {
    width: 23%;
    height: 12%;
    background-color: gray;
    border-radius: 100%;
    vertical-align: middle;
}

.circle-text {
    font-size: 13dp;
    text-align: center;

}


.animate-one {
    animation-name: slide-top;
    animation-duration: 600ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
}

.animate-two {
    animation-name: slide-right;
    animation-duration: 600ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
}
.animate-three {
    animation-name: slide-bottom;
    animation-duration: 600ms;
    animation-delay: 1800ms;
    animation-fill-mode: forwards;
}
.animate-four {
    animation-name: slide-left;
    animation-duration: 600ms;
    animation-delay: 2400ms;
    animation-fill-mode: forwards;
}


@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}


@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
    }
}

@keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100px);
    }
  }
  